@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is practice with ASP.NET Core.</h2>
    <p>The current date and time is @ViewData["TimeStamp"].</p>
</div>
